<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Contratos:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#listadocontratos" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Listado de Contratos
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="listadocontratos">
                                    <div class="card-body table-responsive">
                                        <table class="table table-hover">
                                            <thead class="text-info">
                                                <th scope="col">Contrato N°</th>
                                                <th scope="col">Fecha de vigencia</th>
                                                <th scope="col">Fecha de vencimiento</th>
                                                <th scope="col">Estado del contrato</th>
                                                <th scope="col">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < Contratos.length; i++) { %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= i %>
                                                        </th>
                                                        <td>
                                                            <%= Contratos[i].id_contrato %>
                                                        </td>
                                                        <td>
                                                            <%= Contratos[i].fecha_vigencia %>
                                                        </td>
                                                        <td>
                                                            <%= Contratos[i].fecha_vencimiento %>
                                                        </td>
                                                        <td>
                                                            <%= Contratos[i].estado_contrato %>
                                                        </td>
                                                        <td><a class="card-link" href="/contrato/<%= Contratos[i].id_contrato %>">Ver</a></td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>