<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">loyalty</i>
                            </div>
                            <p class="card-category">Total Subastas Fruta</p>
                            <% for(var subasta of TotalSubastas) { %>
                                <h3 class="card-title"><%=subasta.totalFruta%></h3>
                            <% } %>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">arrow_forward</i> <a href="/subastas_Frutas">Ir a página de Subastas de Frutas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">loyalty</i>
                            </div>
                            <p class="card-category">Total Subastas Transporte </p>
                            <% for(var subasta of TotalSubastas) { %>
                                <h3 class="card-title"><%=subasta.totalTransporte%></h3>
                            <% } %>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">arrow_forward</i> <a href="/subastas_Transportes">Ir a página de Subastas de Transportes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">monetization_on</i>
                            </div>
                            <p class="card-category">Ventas</p>
                            <% for(var ventas of TotalVentas) { %>
                                <h3 class="card-title"><%=ventas.precioTotal%></h3>
                            <% } %>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">arrow_forward</i> <a href="/ventas">Ir a página de Ventas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Usuarios totales</p>
                            <% for(var usuario of TotalUsuario) { %>
                            <h3 class="card-title"><%=usuario.totalUsuario%></h3>
                            <% } %>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">arrow_forward</i> <a href="/usuarios">Ir a página de Usuarios</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">inventory_2</i>
                            </div>
                            <p class="card-category">Frutas</p>
                            <% for(var fruta of TotalFrutas) { %>
                                <h3 class="card-title"><%=fruta.totalFrutas%></h3>
                            <% } %>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">arrow_forward</i> <a href="/frutas">Ir a página de Frutas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">inventory_2</i>
                            </div>
                            <p class="card-category">Seguros</p>
                            <% for(var seguro of TotalSeguros) { %>
                                <h3 class="card-title"><%=seguro.totalSeguros%></h3>
                            <% } %>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">arrow_forward</i> <a href="/seguros">Ir a página de Seguros</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    Notify = (function () {
        var e = $('[data-toggle="notify"]');
        e.length &&
            e.on("click", function (e) {
                e.preventDefault(),
                    (function (e, a, t, n, i, o) {
                        $.notify(
                            { icon: t, title: " Bootstrap Notify", message: "Turning standard Bootstrap alerts into awesome notifications", url: "" },
                            {
                                element: "body",
                                type: n,
                                allow_dismiss: !0,
                                placement: { from: e, align: a },
                                offset: { x: 15, y: 15 },
                                spacing: 10,
                                z_index: 1080,
                                delay: 2500,
                                timer: 25e3,
                                url_target: "_blank",
                                mouse_over: !1,
                                animate: { enter: i, exit: o },
                                template:
                                    '<div data-notify="container" class="alert alert-dismissible alert-{0} alert-notify" role="alert"><span class="alert-icon material-icons" data-notify="icon">notifications</span> <div class="alert-text"</div> <span class="alert-title" data-notify="title">{1}</span> <span class="message-notify" data-notify="message">{2}</span></div><button type="button" class="close" data-notify="dismiss" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>',
                            }
                        );
                    })($(this).attr("data-placement"), $(this).attr("data-align"), $(this).attr("data-icon"), $(this).attr("data-type"), $(this).attr("data-animation-in"), $(this).attr("data-animation-out"));
            });
    })();
</script>

</body>
</html>