extends layout

block content

  #wrapper
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
      a.navbar-brand(href='#') Maipo Grande
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.side-nav
          li.nav-item
            a.nav-link(href='/') Inicio
          li.nav-item
            a.nav-link(href='nosotros') Nosotros   
          li.nav-item
            a.nav-link(href='servicios') Servicios    
          li.nav-item
            a.nav-link(href='contacto') Contacto
          if(session.isLoggedIn)
            li.nav-item
            a.nav-link(href='panel') 
             | Administración
             span.sr-only (current)

      ul.navbar-nav.float-right
        a.nav-link.text-white(href='logout')
          i.bi-power
          |  Cerrar sesión
    .container-fluid
      p.lead
        h3
          | Listado de usuarios registrados
      .row
        .col
          .card
            .card-body
              table.table
                thead
                  tr
                    th(scope='col') #
                    th(scope='col') Nombre
                    th(scope='col') Apellido
                    th(scope='col') Correo electrónico
                    th(scope='col') Opciones
                tbody
                    for usuario, i in Usuarios
                        tr
                            th(scope='row')=i
                            td=usuario.nombre
                            td=usuario.apellido
                            td=usuario.correo
                            td
                                a.card-link(href='/modificarUsuario/' + usuario.id_usuario) Modificar
                                a.card-link(href='/eliminarUsuario/' + usuario.id_usuario) Eliminar
                    script.
                      var data = !{JSON.stringify(mydata)};