<%- include('partials/nav.ejs') %>
        <!-- your content here -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Mi Perfil</h4>
                    </div>
                    <div class="card-body">
                      <h3 class="card-title mb-4 mt-3">Ingresa tus nuevos datos</h3>
                      <div class="card-text">
                        <form action="/api_usuarios/modificarMiPerfil/<%= data[0].id_usuario%>" method="POST">
                          <div class="row mt-4">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group my-label required">
                                <label>Nombre</label>
                                <input class="form-control mb-4" id="nombre" type="text" name="nombre" placeholder="Nombre" maxLength="25" required value="<%= data[0].nombre%>">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group my-label required">
                                <label>Apellido</label>
                                <input class="form-control mb-4" id="apellido" type="text" name="apellido" placeholder="Apellido" maxLength="25" required value="<%= data[0].apellido%>">
                              </div>
                            </div>
                          </div>
                          <label>Correo electrónico *</label>
                          <input class="form-control mb-4" id="inputEmail" type="email" name="correo" placeholder="Correo electrónico" maxLength="30" required value="<%= data[0].correo%>">
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group my-label required">
                                <label>Contraseña</label>
                                <input class="form-control mb-4" id="inputPassword" type="password" name="password" placeholder="Contraseña" maxLength="40" required value="<%= data[0].password%>">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="checkbox" onclick="showPassword()">Mostrar contraseña</input>
                              </div>
                            </div>
                          </div>
                          <label>Número de documento *</label>
                          <input class="form-control mb-4" id="inputNumDocumento" type="text" name="num_documento" placeholder="Número de documento" maxLength="20" required value="<%= data[0].num_documento%>">
                          <label>Fecha de nacimiento *</label>
                          <input class="form-control mb-4" id="inputFechaNacimiento" type="date" name="fecha_nacimiento" placeholder="Fecha de nacimiento" required value="<%= data[0].fecha_nacimiento%>">
                          <label>Teléfono *</label>
                          <input class="form-control mb-4" id="inputTelefono" type="number" name="telefono" placeholder="Teléfono" maxLength="15" required value="<%= data[0].telefono%>">
                          <div class="row mb-4">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                              <div class="form-group my-label required">
                                <label>Género</label>
                                <div class="cus-select-group">
                                  <select id="select-item" name="genero" required>
                                    <% if(data[0].genero == 1){ %>
                                      <option name="femenino" selected value="1">Femenino</option>
                                    <% } else { %>
                                      <option name="femenino" value="1">Femenino</option>
                                    <% } %>
                                    <% if(data[0].genero == 2){ %>
                                      <option name="masculino" selected value="2">Masculino</option>
                                    <% } else { %>
                                      <option name="masculino" value="2">Masculino</option>
                                    <% } %>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button class="btn btn-primary mb-2 pull-right" type="submit">Guardar cambios</button>
                        </form>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-profile">
                    <div class="card-avatar">
                      <img class="img" src="../images/profile_pic.jpg" />
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-gray"><%= data[0].fk_texto_tipo%></h6>
                      <h4 class="card-title"><%= data[0].nombre%> <%= data[0].apellido%></h4>
                      <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<%- include('partials/footer.ejs') %>

<script>
  function showPassword() {
    var x = document.getElementById("inputPassword");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

</body>
</html>