<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-warning">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Compras:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#listadoVentas" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Listado de Compras
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#listadoFrutaRestante" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Mis frutas restantes
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#comprarFrutaRestante" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Comprar fruta restante
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="listadoVentas">
                                    <div class="card-body table-responsive">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead class="text-info">
                                                <th scope="col">Venta N°</th>
                                                <th scope="col">Fecha de actualización</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var miCompra of MisCompras) { %>
                                                    <% if (miCompra.pedido_fk_id_usuario == session.id_usuario){ %>
                                                        <div class="modal fade" id="modalVentaDetalle<%= miCompra.id_venta %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">ID Venta #<%= miCompra.id_venta %></h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <span><strong>Fecha de creación:</strong> <%= miCompra.fecha_creacion %></span></br>
                                                                        <span><strong>Fecha de última actualización:</strong> <%= miCompra.fecha_actualizacion %></span></br>
                                                                        <div class="mt-4">
                                                                            <h4><strong>Detalles de la venta</strong></h4>
                                                                            <ul>
                                                                                <% for(var venta_detalle of VentaDetalles){ %>
                                                                                    <%if(venta_detalle.fk_id_venta == miCompra.id_venta){%>
                                                                                        <li><strong>Costos de frutas:</strong>
                                                                                            <%= venta_detalle.costo_fruta_formato %>
                                                                                        </li>
                                                                                        <li><strong>Costos de transportes:</strong>
                                                                                            <%= venta_detalle.costo_transporte_formato %>
                                                                                        </li>
                                                                                        <li><strong>Costos de impuestos:</strong>
                                                                                            <%= venta_detalle.costo_impuestos_formato %>
                                                                                        </li>
                                                                                        <li><strong>Comisión de servicio:</strong>
                                                                                            <%= venta_detalle.comision_servicio_formato %>
                                                                                        </li>
                                                                                        <li><strong>Comisión de empresa:</strong>
                                                                                            <%= venta_detalle.comision_empresa_formato %>
                                                                                        </li>
                                                                                        <li><strong>PRECIO FINAL:</strong>
                                                                                            <%= venta_detalle.precio_final_formato %>
                                                                                        </li>
                                                                                    <% } %>
                                                                                <% } %>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal fade" id="modalGenerarDetalle<%= miCompra.id_venta %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <form action="../api_pagos/crearPago/<%= miCompra.id_venta %>" enctype="multipart/form-data" method="POST">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">ID Venta #<%= miCompra.id_venta %></h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="mt-4">
                                                                                <h4><strong>Total a pagar (CLP): $<%=miCompra.ventad_fk_precio_final_formato%></strong></h4>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                                                    <div class="form-group my-label required">
                                                                                        <label>Paga a través de Flow!</label>
                                                                                        <a href="https://www.flow.cl/btn.php?token=s5us8ug" target="_blank">
                                                                                            <div style="width: 200px;background: orange; border-radius: 10px; padding: 10px 20px; text-decoration: none; color:white;text-align: center;">
                                                                                                PAGAR
                                                                                            </div>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-12 col-md-12 mb-4">
                                                                            <span>Subir comprobante, formatos permitidos: JPG, JPEG, PNG y PDF</span>
                                                                            <input type="file" id="url_comprobante" name="url_comprobante" onchange="return fileValidation(this)"/>
                                                                            <input id="monto" name="monto" type="hidden" value="<%= miCompra.ventad_fk_precio_final %>">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-warning" type="submit">Enviar comprobante</button>
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= miCompra.id_venta %>
                                                            </th>
                                                            <td>
                                                                <%= miCompra.fecha_actualizacion %>
                                                            </td>
                                                            <td>
                                                                <%= miCompra.fk_texto_estado %>
                                                            </td>
                                                            <td>
                                                                <% if (miCompra.fk_id_estado == 1) { %>
                                                                    <a href="../api_ventas/anularVenta/<%= miCompra.id_venta %>"><button type="button" class="btn btn-warning btn-sm">Anular</button></a>
                                                                <% } %>
                                                                <% if (miCompra.fk_id_estado == 2) { %>
                                                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalVentaDetalle<%= miCompra.id_venta %>">Ver detalles</button>
                                                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalGenerarDetalle<%= miCompra.id_venta %>">Pagar</button>
                                                                <% } %>
                                                                <% if (miCompra.fk_id_estado == 3) { %>
                                                                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalVentaDetalle<%= miCompra.id_venta %>">Ver detalles</button>
                                                                <% } %>
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="listadoFrutaRestante">
                                    <div class="card-body table-responsive">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead class="text-info">
                                                <th scope="col">Producto</th>
                                                <th scope="col">Fecha de creación</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var frutaRestante of FrutasRestantes) { %>
                                                    <div class="modal fade" id="modalVerFrutaRestante<%= frutaRestante.id_frutaR %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">ID Fruta Restante #<%= frutaRestante.id_frutaR %></h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <span><strong>Fecha de creación:</strong> <%= frutaRestante.fecha_creacion %></span></br>
                                                                    <span><strong>Fecha de última actualización:</strong> <%= frutaRestante.fecha_actualizacion %></span></br>
                                                                    <span><strong>Cantidad:</strong> <%= frutaRestante.saldo_cantidad %></span></br>
                                                                    <li><strong>Fruta:</strong> fruta - <strong>Calidad:</strong> calidad - <strong>Cantidad:</strong> cantidad</li>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= frutaRestante.id_frutaR %>
                                                        </th>
                                                        <td>
                                                            <%= frutaRestante.fecha_creacion %>
                                                        </td>
                                                        <td>
                                                            <%= frutaRestante.saldo_cantidad %>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalVerFrutaRestante<%= frutaRestante.id_frutaR %>">Ver detalles</button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="comprarFrutaRestante">
                                    <div class="card-body table-responsive">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead class="text-info">
                                                <th scope="col">Producto</th>
                                                <th scope="col">Fecha de creación</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var frutaRestante of FrutasRestantes) { %>
                                                    <div class="modal fade" id="modalComprarFrutaRestante<%= frutaRestante.id_frutaR %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">ID Fruta Restante #<%= frutaRestante.id_frutaR %></h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <span><strong>Fecha de creación:</strong> <%= frutaRestante.fecha_creacion %></span></br>
                                                                    <span><strong>Fecha de última actualización:</strong> <%= frutaRestante.fecha_actualizacion %></span></br>
                                                                    <span><strong>Cantidad:</strong> <%= frutaRestante.saldo_cantidad %></span></br>
                                                                    <li><strong>Fruta:</strong> fruta - <strong>Calidad:</strong> calidad - <strong>Cantidad:</strong> cantidad</li>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-warning" type="submit">Comprar</button>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= frutaRestante.id_frutaR %>
                                                        </th>
                                                        <td>
                                                            <%= frutaRestante.fecha_creacion %>
                                                        </td>
                                                        <td>
                                                            <%= frutaRestante.saldo_cantidad %>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modalComprarFrutaRestante<%= frutaRestante.id_frutaR %>">Comprar</button>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    $(document).ready(function() {
        $('#datatables').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "pagingType": "full_numbers",
            "pageLength": 15,
            "bLengthChange": false,
            responsive: true,
            language: {
                search: "_INPUT_",
                info: "Viendo página _PAGE_ de _PAGES_",
                zeroRecords: "No hay información que mostrar",
                infoEmpty: "Sin información",
                searchPlaceholder: "Buscar venta",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad",
                    "collection": "Colección",
                    "colvisRestore": "Restaurar visibilidad",
                    "copySuccess": {
                        "1": "Copiada 1 fila al portapapeles",
                        "_": "Copiadas %d fila al portapapeles"
                    },
                    "copyTitle": "Copiar al portapapeles",
                    "csv": "CSV",
                    "excel": "Excel",
                    "pageLength": {
                        "-1": "Mostrar todas las filas",
                        "_": "Mostrar %d filas"
                    },
                    "pdf": "PDF",
                    "print": "Imprimir"
                }
            }
        });
        var table = $('#datatable').DataTable();
    });
</script>

<script>
    function fileValidation(input) {

        var fileInput = document.getElementById('url_comprobante');
          
        var filePath = fileInput.value;

        const fileSize = input.files[0].size / 1024 / 1024; // en MiB

        // Comprobación de tamaño
        if (fileSize > 5) {
            alert('Archivo supera el tamaño máximo de 5 MiB');
        } else {
            
            // Comprobación de extensión
            var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.pdf)$/i;
            
            if (!allowedExtensions.exec(filePath)) {
                alert('Archivo con formato no permitido');
                fileInput.value = '';
                return false;
            } 

        }

    }
</script>

</body>
</html> 