<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-info">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Mis ofertas:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#listadoOfertasTransportes" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Listado de Ofertas Transportes
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="listadoOfertasTransportes">
                                    <div class="card-body table-responsive">
                                        <table id="datatable_OfertasProductores" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead class="text-info">
                                                <th scope="col">N°</th>
                                                <th scope="col">Fecha de creación</th>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var oferta_transporte of OfertasTransportes) { %>
                                                    <% if (oferta_transporte.fk_id_usuario == session.id_usuario){ %>
                                                        <div class="modal fade" id="modalOfertaTransporte<%= oferta_transporte.id_ofertaT %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">ID Oferta #
                                                                            <%= oferta_transporte.id_ofertaT %>
                                                                        </h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <span><strong>Fecha de creación:</strong> <%= oferta_transporte.fecha_creacion %></span></br></br>
                                                                        <span><strong>¿Tiene refrigeración?</strong> <% if(oferta_transporte.tiene_refrigeracion == 1){ %> Si <% } else { %> No <% } %> </span></br></br>
                                                                        <span><strong>Cantidad:</strong> <%= oferta_transporte.cantidad %></span></br></br>
                                                                        <span><strong>Peso total:</strong> <%= oferta_transporte.peso_total %> </span></br></br>
                                                                        <span><strong>Precio final:</strong> <%= oferta_transporte.precio_final %> </span></br></br>
                                                                        <span><strong>Estado de la oferta:</strong> <%= oferta_transporte.fk_texto_estado %></span>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="/subasta_transporte/<%= oferta_transporte.fk_id_subastaT %>"><button class="btn btn-primary" type="button">Ver subasta</button></a>
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= oferta_transporte.id_ofertaT %>
                                                            </th>
                                                            <td>
                                                                <%= oferta_transporte.fecha_creacion %>
                                                            </td>
                                                            <td>
                                                                <%= oferta_transporte.cantidad %>
                                                            </td>
                                                            <td>
                                                                <%= oferta_transporte.fk_texto_estado %>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalOfertaTransporte<%= oferta_transporte.id_ofertaT %>">Ver oferta</button>
                                                                <a href="../api_ofertas/anularOfertaTransporte/<%= oferta_transporte.id_ofertaT %>"><button type="button" class="btn btn-info btn-sm">Anular</button></a>
                                                            </td>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    $(document).ready(function() {
      $('#datatable_OfertasTransporte').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "pagingType": "full_numbers",
        "pageLength": 15,
        "bLengthChange": false,
        responsive: true,
        language: {
            search: "_INPUT_",
            info: "Viendo página _PAGE_ de _PAGES_",
            zeroRecords: "No hay información que mostrar",
            infoEmpty: "Sin información",
            searchPlaceholder: "Buscar oferta",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %d fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir"
            }
        }
      });
      var tabla_OfertasTransporte = $('#datatable_OfertasTransporte').DataTable();
    });
</script>

<script> (function () {
    'use strict';
    window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('formValidation');
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
  })();
</script>

</body>
</html> 