<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                      <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Usuarios:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link" href="../usuarios/#listadoUsuarios">
                                            <i class="material-icons">format_list_bulleted</i> Listado de usuarios
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="../usuarios/#crearUsuario">
                                            <i class="material-icons">add</i> Crear nuevo usuario
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item active">
                                      <a class="nav-link" data-toggle="tab">
                                          <i class="material-icons">settings</i> Modificar usuario
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                </ul>
                            </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <h3 class="card-title mb-4">Ingresa los nuevos datos del usuario</h3>
                        <div class="card-text">
                          <form action="/api_usuarios/modificarUsuario/<%= data[0].id_usuario%>" method="POST">
                            <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group"><label>Nombre *</label><input class="form-control input-sm" id="nombre" type="text" name="nombre" placeholder="Nombre" maxLength="25" required value="<%= data[0].nombre%>"></div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group"><label>Apellido *</label><input class="form-control input-sm" id="apellido" type="text" name="apellido" placeholder="Apellido" maxLength="25" required value="<%= data[0].apellido%>"></div>
                              </div>
                            </div>
                            <label>Correo electrónico *</label>
                            <input class="form-control mb-4" id="inputEmail" type="email" name="correo" placeholder="Correo electrónico" maxLength="30" required value="<%= data[0].correo%>">
                            <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group"><label>Contraseña *</label><input class="form-control mb-4" id="inputPassword" type="password" name="password" placeholder="Contraseña" maxLength="40" required value="<%= data[0].password%>"></div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group"><input type="checkbox" onclick="showPassword()">Mostrar contraseña</div>
                              </div>
                            </div>
                            <label>Número de documento *</label>
                            <input class="form-control mb-4" id="inputNumDocumento" type="number" name="num_documento" placeholder="Número de documento" maxLength="20" required value="<%= data[0].num_documento%>">
                            <label>Fecha de nacimiento *</label>
                            <input class="form-control mb-4" id="inputFechaNacimiento" type="date" name="fecha_nacimiento" placeholder="Fecha de nacimiento" required value="<%= data[0].fecha_nacimiento%>" data-toggle="datepicker">
                            <label>Teléfono *</label>
                            <input class="form-control mb-4" id="inputTelefono" type="number" name="telefono" placeholder="Teléfono" maxLength="15" required value="<%= data[0].telefono%>">
                            <div class="row mb-4">
                              <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                  <label>Género *</label>
                                  <select class="selectpicker form-control" data-size="2" name="genero" data-style="select-with-transition btn" title="Selecciona una opción">
                                    <% if(data[0].genero == 1){ %>
                                      <option name="femenino" selected value="1">Femenino</option>
                                    <% } else { %>
                                      <option name="femenino" value="1">Femenino</option>
                                    <% } %>
                                    <% if(data[0].genero == 2){ %>
                                      <option name="masculino" selected value="2">Masculino</option>
                                    <% } else { %>
                                      <option name="masculino" value="2">Masculino</option>
                                    <% } %>
                                  </select>
                                </div>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                  <label>Tipo de usuario *</label>
                                  <select class="selectpicker form-control" data-size="6" name="tipo_usuario" data-style="select-with-transition btn" title="Selecciona una opción">
                                    <% if(data[0].fk_id_tipo == 1){ %>
                                      <option name="administrador" selected value="1">Administrador</option>
                                    <% } else { %>
                                      <option name="administrador" value="1">Administrador</option>
                                    <% } %>
                                    <% if(data[0].fk_id_tipo == 2){ %>
                                      <option name="transportista" selected value="2">Transportista</option>
                                    <% } else { %>
                                      <option name="transportista" value="2">Transportista</option>
                                    <% } %>
                                    <% if(data[0].fk_id_tipo == 3){ %>
                                      <option name="clienteExterno" selected value="3">Cliente externo</option>
                                    <% } else { %>
                                      <option name="clienteExterno" value="3">Cliente externo</option>
                                    <% } %>
                                    <% if(data[0].fk_id_tipo == 4){ %>
                                      <option name="clienteInterno" selected value="4">Cliente interno</option>
                                    <% } else { %>
                                      <option name="clienteInterno" value="4">Cliente interno</option>
                                    <% } %>
                                    <% if(data[0].fk_id_tipo == 5){ %>
                                      <option name="productor" selected value="5">Productor</option>
                                    <% } else { %>
                                      <option name="productor" value="5">Productor</option>
                                    <% } %>
                                    <% if(data[0].fk_id_tipo == 6){ %>
                                      <option name="consultor" selected value="6">Consultor</option>
                                    <% } else { %>
                                      <option name="consultor" value="6">Consultor</option>
                                    <% } %>
                                  </select>
                                </div>
                              </div>
                              <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                  <label>Estado de cuenta *</label>
                                  <select class="selectpicker form-control" data-size="2" name="estado_cuenta" data-style="select-with-transition btn" title="Selecciona una opción">
                                    <% if(data[0].fk_id_estado == 1){ %>
                                      <option name="activada" selected value="1">Activada</option>
                                    <% } else { %>
                                      <option name="activada" value="1">Activada</option>
                                    <% } %>
                                    <% if(data[0].fk_id_estado == 2){ %>
                                      <option name="desactivada" selected value="2">Desactivada</option>
                                    <% } else { %>
                                      <option name="desactivada" value="2">Desactivada</option>
                                    <% } %>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <button class="btn btn-primary mb-2 pull-right" type="submit"><i class="fas fa-sign-in-alt"></i> Modificar usuario</button>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer.ejs') %>
<script>
    $(function() {
      $('[data-toggle="datepicker"]').datepicker({
        autoHide: true,
        language: 'es-ES',
        format: 'dd-mm-yyyy'
      });
    });
</script>

<script>
  function showPassword() {
    var x = document.getElementById("inputPassword");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

</body>
</html>