<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                      <div class="card-header card-header-tabs card-header-warning">
                        <h4 class="card-title">Modificando contrato <%= data[0].id_contrato%></h4>
                      </div>
                      <div class="card-body">
                        <h3 class="card-title mb-4 mt-3">Ingresa los nuevos datos del contrato</h3>
                        <div class="card-text">
                          <form action="/api_contratos/modificarContrato/<%= data[0].id_contrato%>" method="POST">
                            <div class="callout callout-warning mb-4">
                              <h4>Importante</h4>
                              No esta permitido cambiar el usuario asignado a un contrato, si necesitas cambiar, debes anular el contrato actual y crear uno nuevo
                            </div>
                            <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group my-label required">
                                  <label>Fecha de inicio</label>
                                  <input class="form-control mb-4" id="inputFechaInicio" type="date" name="fecha_inicio" required value="<%= data[0].fecha_inicio%>">
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group my-label required">
                                  <label>Fecha de vencimiento</label>
                                  <input class="form-control mb-4" id="inputFechaVencimiento" type="date" name="fecha_vencimiento" required value="<%= data[0].fecha_vencimiento%>">
                                </div>
                              </div>
                            </div>
                            <div class="row mb-4">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                  <div class="form-group my-label required">
                                      <label>Tipo de Contrato</label>
                                      <select class="selectpicker form-control" data-size="4" name="fk_id_tipo" data-style="select-with-transition btn" title="Selecciona una opción">
                                        <% if(data[0].fk_id_tipo == 1){ %>
                                          <option name="productor" selected value="1">Productor</option>
                                        <% } else { %>
                                          <option name="productor" value="1">Productor</option>
                                        <% } %>
                                        <% if(data[0].fk_id_tipo == 2){ %>
                                          <option name="clienteInterno" selected value="2">Cliente Interno</option>
                                        <% } else { %>
                                          <option name="clienteInterno" value="2">Cliente Interno</option>
                                        <% } %>
                                        <% if(data[0].fk_id_tipo == 3){ %>
                                          <option name="clienteExterno" selected value="3">Cliente Externo</option>
                                        <% } else { %>
                                          <option name="clienteExterno" value="3">Cliente Externo</option>
                                        <% } %>
                                        <% if(data[0].fk_id_tipo == 4){ %>
                                          <option name="transportista" selected value="4">Transportista</option>
                                        <% } else { %>
                                          <option name="transportista" value="4">Transportista</option>
                                        <% } %>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                  <div class="form-group my-label required">
                                      <label>Estado del contrato</label>
                                      <select class="selectpicker form-control" data-size="2" name="fk_id_estado" data-style="select-with-transition btn" title="Selecciona una opción">
                                        <% if(data[0].fk_id_tipo == 1){ %>
                                          <option name="vigente" selected value="1">Vigente</option>
                                        <% } else { %>
                                          <option name="vigente" value="1">Vigente</option>
                                        <% } %>
                                        <% if(data[0].fk_id_tipo == 2){ %>
                                          <option name="anulado" selected value="2">Anulado</option>
                                        <% } else { %>
                                          <option name="anulado" value="2">Anulado</option>
                                        <% } %>
                                      </select>
                                  </div>
                              </div>
                            </div>
                            <button class="btn btn-primary mb-2 pull-right" type="submit">Guardar cambios</button>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      function showPassword() {
        var x = document.getElementById("inputPassword");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
    </script>

<%- include('partials/footer.ejs') %>

</body>
</html>