<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-success">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Ordenes:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#listadoOrdenesBodegas" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Listado de Ordenes Bodegas
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="listadoOrdenesBodegas">
                                    <div class="card-body table-responsive">
                                        <table id="datatable_OrdenesBodegas" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead class="text-info">
                                                <th scope="col">Orden N°</th>
                                                <th scope="col">Fecha de ingreso</th>
                                                <th scope="col">Fecha de retiro</th>
                                                <th scope="col">Estado de la orden</th>
                                                <th class="disabled-sorting">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var ordenBodega of OrdenesBodegas) { %>
                                                    <div class="modal fade" id="modalVerOrdenBodega<%= ordenBodega.id_ordenB %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">ID Orden #<%= ordenBodega.id_ordenB %></h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <span><strong>Fecha de ingreso:</strong> <%= ordenBodega.fecha_ingreso %></span></br></br>
                                                                    <span><strong>Fecha de retiro:</strong> <%= ordenBodega.fecha_retiro %></span></br></br>
                                                                    <span><strong>Estado de la orden:</strong> <%= ordenBodega.fk_texto_estado %></span></br>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" id="modalModificarOrdenBodega<%= ordenBodega.id_ordenB %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <form action="/api_ordenes/modificarOrdenBodega/<%= ordenBodega.id_ordenB%>" method="POST">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Modificando Orden de Bodega <%= ordenBodega.id_ordenB %>
                                                                    </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group mt-4 my-label required">
                                                                        <label>Fecha de ingreso</label>
                                                                        <input class="form-control mb-4" id="fecha_ingreso" type="date" name="fecha_ingreso" required value="<%= ordenBodega.fecha_ingreso_eng%>">
                                                                        <div class="invalid-feedback">Ingresa fecha de ingreso</div>
                                                                    </div>
                                                                    <div class="form-group my-label required">
                                                                        <label>Fecha de retiro</label>
                                                                        <input class="form-control mb-4" id="fecha_retiro" type="date" name="fecha_retiro" required value="<%= ordenBodega.fecha_retiro_eng%>">
                                                                        <div class="invalid-feedback">Ingresa fecha de retiro</div>
                                                                    </div>
                                                                    <div class="form-group my-label required">
                                                                        <label>Estado de la orden</label>
                                                                        <div class="cus-select-group">
                                                                            <select id="select-item" name="fk_id_estado" required>
                                                                                <% if(ordenBodega.fk_id_estado == 1){ %>
                                                                                    <option name="si" selected value="1">Si</option>
                                                                                <% } else { %>
                                                                                    <option name="si" value="1">Si</option>
                                                                                <% } %>
                                                                                <% if(ordenBodega.fk_id_estado == 2){ %>
                                                                                    <option name="no" selected value="2">No</option>
                                                                                <% } else { %>
                                                                                    <option name="no" value="2">No</option>
                                                                                <% } %>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-primary" type="submit">Guardar cambios</button>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </form>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= ordenBodega.id_ordenB %>
                                                        </th>
                                                        <td>
                                                            <%= ordenBodega.fecha_ingreso %>
                                                        </td>
                                                        <td>
                                                            <%= ordenBodega.fecha_retiro %>
                                                        </td>
                                                        <td>
                                                            <%= ordenBodega.fk_texto_estado %>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalVerOrdenBodega<%= ordenBodega.id_ordenB %>">Ver orden</button>
                                                            <% if (ordenBodega.fk_id_estado == 1) { %>
                                                                <a href="/reportes_bodega/<%= ordenBodega.id_ordenB %>"><button type="button" class="btn btn-success btn-sm">Ver reportes</button></a>
                                                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalModificarOrdenBodega<%= ordenBodega.id_ordenB %>">Modificar</button>
                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    $(document).ready(function() {
      $('#datatable_OrdenesBodegas').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "pagingType": "full_numbers",
        "pageLength": 15,
        "bLengthChange": false,
        responsive: true,
        language: {
            search: "_INPUT_",
            info: "Viendo página _PAGE_ de _PAGES_",
            zeroRecords: "No hay información que mostrar",
            infoEmpty: "Sin información",
            searchPlaceholder: "Buscar orden",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %d fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir"
            }
        }
      });
      $('#datatable_ReportesBodegas').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "pagingType": "full_numbers",
        "pageLength": 15,
        "bLengthChange": false,
        responsive: true,
        language: {
            search: "_INPUT_",
            info: "Viendo página _PAGE_ de _PAGES_",
            zeroRecords: "No hay información que mostrar",
            infoEmpty: "Sin información",
            searchPlaceholder: "Buscar reporte",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %d fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir"
            }
        }
      });
      var tabla_Pedidos = $('#datatable_Pedidos').DataTable();
      var tabla_PedidosFinalizados = $('#datatable_PedidosFinalizados').DataTable();
    });
</script>

<script> (function () {
    'use strict';
    window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('formValidation');
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
  })();
</script>

<script> 
    window.onload = refreshPage(<%=refreshPage%>);
</script>

</body>
</html>