<%- include('partials/nav.ejs') %>
<script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-success">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Reportes de Bodega:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#listadoReportesBodega" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Listado de Reportes de Orden <%= fk_id_ordenB %>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#crearReporteBodega" data-toggle="tab">
                                                <i class="material-icons">add</i> Agregar nuevo reporte a Orden <%= fk_id_ordenB %>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="listadoReportesBodega">
                                    <div class="card-body table-responsive">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead class="text-info">
                                                <th scope="col">Reporte N°</th>
                                                <th scope="col">Fecha de creación</th>
                                                <th class="disabled-sorting">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var reporte of ReportesBodegas) { %>

                                                    <div class="modal fade" id="modalVerReporteBodega<%= reporte.id_reporteB %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Viendo reporte de bodega <%= reporte.id_reporteb %>
                                                                </h5>
                                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              <span><strong>Reporte de orden:</strong> <%= fk_id_ordenB %></span></br></br>
                                                              <span><strong>Fecha de creación:</strong> <%= reporte.fecha_creacion %></span></br></br>
                                                              <span><strong>Estado del reporte:</strong> <% if(reporte.estado_reporte == 1){ %> Si <% } else { %> No <% } %></span></br></br>
                                                              <span><strong>Contenido del reporte:</strong></br></br> <%= reporte.descripcion %></span>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" id="modalModificarReporteBodega<%= reporte.id_reporteB %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                          <div class="modal-content">
                                                            <form action="/api_ordenes/modificarReporteBodega/<%= reporte.id_reporteB%>" method="POST">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Modificando reporte <%= reporte.id_reporteB %>
                                                                    </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group my-label required">
                                                                        <label>Contenido del informe</label></br></br>
                                                                        <textarea name="descripcion" id="editorModificar">
                                                                            <%= reporte.descripcion %>
                                                                        </textarea>
                                                                          <script>
                                                                            ClassicEditor
                                                                            .create(document.querySelector('#editorModificar'), {
                                                                                removePlugins: ['CKFinderUploadAdapter', 'CKFinder', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed'],
                                                                            })
                                                                            .catch( error => {
                                                                                console.error( error );
                                                                            } );
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-primary" type="submit">Guardar cambios</button>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </form>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= reporte.id_reporteB %>
                                                        </th>
                                                        <td>
                                                            <%= reporte.fecha_creacion %>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalVerReporteBodega<%= reporte.id_reporteB %>">Ver reporte</button>
                                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalModificarReporteBodega<%= reporte.id_reporteB %>">Modificar</button>
                                                            <a href="../api_ordenes/eliminarReporteBodega/<%= reporte.id_reporteB %>"><button type="button" class="btn btn-success btn-sm">Eliminar</button></a>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="crearReporteBodega">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4">Ingresa los datos del nuevo reporte</h3>
                                        <div class="card-text">
                                            <form action="../api_ordenes/crearReporteBodega/<%= fk_id_ordenB %>" method="POST" class="formValidation" novalidate> 
                                                <div class="form-group my-label required">
                                                    <label>Contenido del reporte</label></br></br>
                                                    <textarea name="descripcion" id="editor">
                                                        Escribe una descripción.
                                                    </textarea>
                                                      <script>
                                                        ClassicEditor
                                                        .create(document.querySelector('#editor'), {
                                                            removePlugins: ['CKFinderUploadAdapter', 'CKFinder', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed'],
                                                        })
                                                        .catch( error => {
                                                            console.error( error );
                                                        } );
                                                    </script>
                                                </div>
                                                
                                                <button class="btn btn-success mb-2 pull-right mt-4" type="submit">Crear nuevo reporte</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    $(document).ready(function() {
      $('#datatables').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "pagingType": "full_numbers",
        "pageLength": 15,
        "bLengthChange": false,
        responsive: true,
        language: {
            search: "_INPUT_",
            info: "Viendo página _PAGE_ de _PAGES_",
            zeroRecords: "No hay información que mostrar",
            infoEmpty: "Sin información",
            searchPlaceholder: "Buscar informe",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "buttons": {
                "copy": "Copiar",
                "colvis": "Visibilidad",
                "collection": "Colección",
                "colvisRestore": "Restaurar visibilidad",
                "copySuccess": {
                    "1": "Copiada 1 fila al portapapeles",
                    "_": "Copiadas %d fila al portapapeles"
                },
                "copyTitle": "Copiar al portapapeles",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todas las filas",
                    "_": "Mostrar %d filas"
                },
                "pdf": "PDF",
                "print": "Imprimir"
            }
        }
      });
      var table = $('#datatable').DataTable();
    });
</script>

<script> (function () {
    'use strict';
    window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('formValidation');
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
  })();
</script>

</body>
</html>