<%- include('partials/nav.ejs') %>

  <%for(var calidad of TotalProductosPC) {%> 
    <% var valor_calidad_primeraCalidad = calidad.primeraCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosSC) {%> 
    <% var valor_calidad_segundaCalidad = calidad.segundaCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosTC) {%> 
    <% var valor_calidad_terceraCalidad = calidad.terceraCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosCC) {%> 
    <% var valor_calidad_cuartaCalidad = calidad.cuartaCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosQC) {%>
    <% var valor_calidad_quintaCalidad = calidad.quintaCalidad; %>
  <% } %>

  <%for(var productos of TotalProductosA) {%>
    <% var valor_productos_activos = productos.activos; %>
  <% } %>
  <%for(var productos of TotalProductosI) {%>
    <% var valor_productos_inactivos = productos.Inactivos; %>
  <% } %>
  <%for(var productos of TotalProductos) {%>
    <% var valor_productos_total = productos.totalProducto; %>
  <% } %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-warning">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Reportes:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#graficosDeVentas" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Gráficos de Ventas
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#graficosDeSubastas" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Gráficos de Subastas
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#graficosDeProductos" data-toggle="tab">
                                              <i class="material-icons">format_list_bulleted</i> Gráficos de Productos
                                              <div class="ripple-container"></div>
                                          </a>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="graficosDeVentas">
                                  <%for(var ventas of VentasTotal) {%> 
                                    <div class="card-body">
                                        
                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <h4 class="card-title">Total de ventas: <%=ventas.totalDeVentas%></h4>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <h4 class="card-title">Costo total: <%=ventas.totalPrecio%></h4>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <h2 class="card-title mb-4">Costos globales</h2>
                                          <div class="row">
                                            
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-header card-header-warning">
                                                  AQUI
                                                </div>
                                                <div class="card-body">
                                                  <h4 class="card-title">Costo total de frutas</h4>
                                                  <p class="card-category"> <%=ventas.totalFruta%></p>
                                                </div>
                                                <div class="card-footer">
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      <h6 class="card-category">Tipo de costo</h6>
                                                    </div>
                                                    <div class="col-md-12">
                                                      <i class="fa fa-circle text-info"></i> Costo total fruta
                                                      <i class="fa fa-circle text-warning"></i> Costo total transporte
                                                      <i class="fa fa-circle text-danger"></i> Costo total impuesto
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <h4 class="card-title">Costo total de transportes</h4>
                                                  <p class="card-category"> <%=ventas.totalTransporte%></p>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <h4 class="card-title">Costo total de impuestos</h4>
                                                  <p class="card-category"> <%=ventas.totalImpuestos%></p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-12">
                                              <div class="card">
                                                <div class="card-header card-header-icon card-header-info">
                                                  <div class="card-icon">
                                                    <i class="material-icons">timeline</i>
                                                  </div>
                                                  <h4 class="card-title">Gráfico de comisionesComisión servicios:
                                                    <small>  <%=ventas.totalComisionS%></small>
                                                  </h4>
                                                  <h4 class="card-title">Comisión empresas:
                                                    <small>  <%=ventas.totalComisionE%></small>
                                                  </h4>
                                                </div>
                                                <div class="card-body">
                                                  <div id="simpleBarChart" class="ct-chart"></div>
                                                </div>
                                                <div class="card-footer">
                                                  <div class="row">
                                                    <div class="col-md-12">
                                                      <h6 class="card-category">Tipo de comisión</h6>
                                                    </div>
                                                    <div class="col-md-12">
                                                      <i class="fa fa-circle text-info"></i> Comisión servicio
                                                      <i class="fa fa-circle text-warning"></i> Comisión empresa
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                  <% } %>
                                </div>

                              <!--Aqui comienza el lugar de subastas-->
                                <div class="tab-pane" id="graficosDeSubastas">
                                    <div class="card-body">
                                      <h2 class="card-title mb-4"> Datos Subastas frutas </h2>
                                          <!--DIV SUBASTA TOTAL-->
                                          <div class="row">
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastaF of RepSubastaF) {%>
                                                  <h4 class="card-title">Total de subastas Frutas: <%=subastaF.total%></h4>
                                                   
                                                  
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!--DIV SUBASTA ACTIVOS E INACTIVOS-->
                                          <div class="row">
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastaF of SubastaFTotalActivos) {%>
                                                  <h4 class="card-title">Total casos activos:</h4>
                                                  <p class="card-category"><%=subastaF.totalActivos%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastaF of SubastaFTotalInactivos) {%>
                                                  <h4 class="card-title">Total casos eliminados</h4>
                                                  <p class="card-category"><%=subastaF.totalInactivos%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!--DIV SUBASTA FRUTA DIA/MES/AÑO-->
                                          <div class="row">
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastas of TotalSubastasFPD) {%>
                                                    <h4 class="card-title ">Total Subastas Transportes del día:</h4>
                                                    <p class="card-category"><%=subastas.totalSubastaDia%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastas of TotalSubastasFPM) {%>
                                                    <h4 class="card-title ">Total Subastas Transportes del mes:</h4>
                                                    <p class="card-category"><%=subastas.totalSubastasMensuales%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastas of TotalSubastasFPA) {%>
                                                    <h4 class="card-title ">Total Subastas Transportes del año:</h4>
                                                    <p class="card-category"><%=subastas.totalSubastaAño%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>

                                          </div>
                                          <h2 class="card-title mb-4"> Datos Subastas Transporte </h2>
                                          <!-- div transporte total-->
                                          <div class="row">
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastaT of SubastaTTotal) {%>
                                                    <h4 class="card-title">Total de subastas Transporte: <%=subastaT.total%></h4>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!--div total activos e inactivos-->
                                          <div class="row">
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                <%for(var subastaT of SubastaTActivo) {%>
                                                  <h4 class="card-title">Total casos activos:</h4>
                                                  <p class="card-category"><%=subastaT.totalActivos%></p>
                                                <% } %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastaT of SubastaTInactivo) {%>
                                                  <h4 class="card-title">Total casos eliminados</h4>
                                                  <p class="card-category"><%=subastaT.totalInactivos%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                            
                                          </div>
                                          <!--Inicio div fechas-->
                                          <div class="row">
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastas of TotalSubastasTPD) {%>
                                                    <h4 class="card-title ">Total Subastas Transportes del día:</h4>
                                                    <p class="card-category"><%=subastas.totalSubastaDia%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastas of TotalSubastasTPM) {%>
                                                    <h4 class="card-title ">Total Subastas Transportes del mes:</h4>
                                                    <p class="card-category"><%=subastas.totalSubastasMensuales%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4">
                                              <div class="card card-chart">
                                                <div class="card-body">
                                                  <%for(var subastas of TotalSubastasTPA) {%>
                                                    <h4 class="card-title ">Total Subastas Transportes del año:</h4>
                                                    <p class="card-category"><%=subastas.totalSubastaAño%></p>
                                                  <% } %>
                                                </div>
                                              </div>
                                            </div>

                                          </div>
                                          

                                    </div>
                                </div>
                                <!--aqui comienzan los productos-->
                                <div class="tab-pane" id="graficosDeProductos">
                                  <div class="card-body">
                                    <!-- div Productos del dia/mes/año-->
                                    <div class="row">
                                      <div class="col-md-4">
                                        <div class="card card-chart">
                                          <div class="card-body">
                                            <%for(var productos of TotalProductosPD) {%>
                                              <h4 class="card-title">Total productos del día:</h4>
                                              <p class="card-category"><%=productos.totalProductoDia%></p>
                                            <% } %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="card card-chart">
                                          <div class="card-body">
                                            <%for(var productos of TotalProductosPM) {%>
                                              <h4 class="card-title">Total productos del mes:</h4>
                                              <p class="card-category"><%=productos.totalProductoMensuales%></p>
                                            <% } %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="card card-chart">
                                          <div class="card-body">
                                            <%for(var productos of TotalProductosPA) {%>
                                              <h4 class="card-title">Total productos del año:</h4>
                                              <p class="card-category"><%=productos.totalProductoAño%></p>
                                            <% } %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!--Primer div cantidad total-->
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="card card-chart">
                                          <div class="card-header card-header-icon card-header-warning">
                                            <div class="card-icon">
                                              <i class="material-icons">pie_chart</i>
                                            </div>
                                            <h4 class="card-title">Productos</h4>
                                          </div>
                                          <div class="card-body">
                                            <div>
                                              <canvas id="Chart_producto"></canvas>
                                            </div>
                                          </div>
                                          <div class="card-footer">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <h6 class="card-category">Legenda</h6>
                                              </div>
                                              <div class="col-md-12">
                                                <i class="fa fa-circle text-info"></i> Productos activos
                                                <i class="fa fa-circle text-danger"></i>Productos inactivos
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-md-6">
                                        <div class="card card-chart">
                                          <div class="card-header card-header-icon card-header-warning">
                                            <div class="card-icon">
                                              <i class="material-icons">pie_chart</i>
                                            </div>
                                            <h4 class="card-title">Total de productos según su calidad</h4>
                                          </div>
                                          <div class="card-body">
                                            <div>
                                              <canvas id="Chart_producto_calidad"></canvas>
                                            </div>
                                          </div>
                                          <div class="card-footer">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <h6 class="card-category">Calidades</h6>
                                              </div>
                                              <div class="col-md-12">
                                                <i class="fa fa-circle text-info"></i> Primera
                                                <i class="fa fa-circle text-danger"></i>Segunda
                                                <i class="fa fa-circle text-warning"></i>Tercera
                                                <i class="fa fa-circle text-default"></i>Cuarta
                                                <i class="fa fa-circle text-primary"></i>Quinta
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
  const labels_producto = [
    'Productos activos',
    'Productos inactivos',
  ];
  const data_producto = {
    labels: labels_producto,
    datasets: [{
      label: '',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_productos_activos%>', 
      '<%=valor_productos_inactivos%>'
      ],
    }]
  };
  
  const config_producto = {
    type: 'bar',
    data: data_producto,
    options: {}
  };

  const Chart_producto = new Chart(
    document.getElementById('Chart_producto'),
    config_producto
  );
</script>

<script>
  const labels_producto_calidad = [
    'Primera',
    'Segunda',
    'Tercera',
    'Cuarta',
    'Quinta',
  ];
  const data_producto_calidad = {
    labels: labels_producto_calidad,
    datasets: [{
      label: '',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_calidad_primeraCalidad%>', 
      '<%=valor_calidad_segundaCalidad%>',
      '<%=valor_calidad_terceraCalidad%>',
      '<%=valor_calidad_cuartaCalidad%>',
      '<%=valor_calidad_quintaCalidad%>'
      ],
    }]
  };
  
  const config_producto_calidad = {
    type: 'bar',
    data: data_producto_calidad,
    options: {}
  };

  const Chart_producto_calidad = new Chart(
    document.getElementById('Chart_producto_calidad'),
    config_producto_calidad
  );
</script>

</body>
</html>