<%- include('partials/nav.ejs') %>

  <%for(var calidad of TotalProductosPC) {%> 
    <% var valor_calidad_primeraCalidad = calidad.primeraCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosSC) {%> 
    <% var valor_calidad_segundaCalidad = calidad.segundaCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosTC) {%> 
    <% var valor_calidad_terceraCalidad = calidad.terceraCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosCC) {%> 
    <% var valor_calidad_cuartaCalidad = calidad.cuartaCalidad; %>
  <% } %>
  <%for(var calidad of TotalProductosQC) {%>
    <% var valor_calidad_quintaCalidad = calidad.quintaCalidad; %>
  <% } %>

  <%for(var productos of TotalProductosA) {%>
    <% var valor_productos_activos = productos.activos; %>
  <% } %>
  <%for(var productos of TotalProductosI) {%>
    <% var valor_productos_inactivos = productos.Inactivos; %>
  <% } %>
  <%for(var productos of TotalProductos) {%>
    <% var valor_productos_total = productos.totalProducto; %>
  <% } %>


  <%for(var subastaF of RepSubastaF) {%>
    <% var valor_subastasf_total = subastaF.total; %>
  <% } %>
  <%for(var subastaT of SubastaTTotal) {%>
    <% var valor_subastast_total = subastaT.total; %>
  <% } %>
  <%for(var subastaF of SubastaFTotalActivos) {%>
    <% var valor_subastasf_abierta = subastaF.totalActivos; %>
  <% } %>
  <%for(var subastaF of SubastaFTotalInactivos) {%>
    <% var valor_subastasf_cerrada = subastaF.totalInactivos; %>
  <% } %>
  <%for(var subastaT of SubastaTActivo) {%>
    <% var valor_subastast_abierta = subastaT.totalActivos; %>
  <% } %>
  <%for(var subastaT of SubastaTInactivo) {%>
    <% var valor_subastast_cerrada = subastaT.totalInactivos; %>
  <% } %>


  <%for(var ventas of VentasTotal) {%> 
    <% 
      var valor_total_ventas = ventas.totalDeVentas;
      var valor_total_precio = ventas.totalPrecio;
      var valor_total_precio_punto = valor_total_precio.replace(/,/g, '.');
      var valor_total_fruta = ventas.totalFruta;
      var valor_total_transporte = ventas.totalTransporte;
      var valor_total_impuesto = ventas.totalImpuestos;
      var valor_total_comision_servicio = ventas.totalComisionS;
      var valor_total_comision_empresa = ventas.totalComisionE; 
    %>
  <% } %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-warning">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Reportes:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#graficosDeVentas" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Gráficos de Ventas
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#graficosDeSubastas" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Gráficos de Subastas
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link" href="#graficosDeProductos" data-toggle="tab">
                                              <i class="material-icons">format_list_bulleted</i> Gráficos de Productos
                                              <div class="ripple-container"></div>
                                          </a>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="graficosDeVentas">
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="card card-chart">
                                            <div class="card-body">
                                              <h4 class="card-title">Total de ventas: <%=valor_total_ventas%></h4>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="card card-chart">
                                            <div class="card-body">
                                              <h4 class="card-title">Costo total: <%=valor_total_precio_punto%></h4>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <h2 class="card-title mb-4">Costos</h2>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="card">
                                            <div class="card-header card-header-icon card-header-primary">
                                              <div class="card-icon">
                                                <i class="material-icons">timeline</i>
                                              </div>
                                              <h4 class="card-title">Costos totales</h4>
                                            </div>
                                            <div class="card-body">
                                              <div>
                                                <canvas id="Chart_costos"></canvas>
                                              </div>
                                            </div>
                                            <div class="card-footer">
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <h6 class="card-category">Tipo de costo</h6>
                                                </div>
                                                <div class="col-md-12">
                                                  <i class="fa fa-circle text-info"></i> Costo total fruta
                                                  <i class="fa fa-circle text-danger"></i> Costo total transporte
                                                  <i class="fa fa-circle text-warning"></i> Costo total impuesto
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="card">
                                            <div class="card-header card-header-icon card-header-success">
                                              <div class="card-icon">
                                                <i class="material-icons">timeline</i>
                                              </div>
                                              <h4 class="card-title">Total de comisiones</h4>
                                            </div>
                                            <div class="card-body">
                                              <div>
                                                <canvas id="Chart_comision"></canvas>
                                              </div>
                                            </div>
                                            <div class="card-footer">
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <h6 class="card-category">Tipo de comisión</h6>
                                                </div>
                                                <div class="col-md-12">
                                                  <i class="fa fa-circle text-info"></i> Comisión servicio
                                                  <i class="fa fa-circle text-danger"></i> Comisión empresa
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="graficosDeSubastas">
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="card">
                                            <div class="card-header card-header-icon card-header-primary">
                                              <div class="card-icon">
                                                <i class="material-icons">timeline</i>
                                              </div>
                                              <h4 class="card-title">Total de subastas</h4>
                                            </div>
                                            <div class="card-body">
                                              <div>
                                                <canvas id="Chart_total_subastas"></canvas>
                                              </div>
                                            </div>
                                            <div class="card-footer">
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <h6 class="card-category">Tipo de subasta</h6>
                                                </div>
                                                <div class="col-md-12">
                                                  <i class="fa fa-circle text-info"></i> Subastas frutas
                                                  <i class="fa fa-circle text-danger"></i> Subastas empresas
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="card">
                                            <div class="card-header card-header-icon card-header-success">
                                              <div class="card-icon">
                                                <i class="material-icons">timeline</i>
                                              </div>
                                              <h4 class="card-title">Estados de subastas</h4>
                                            </div>
                                            <div class="card-body">
                                              <div>
                                                <canvas id="Chart_total_subastas_estados"></canvas>
                                              </div>
                                            </div>
                                            <div class="card-footer">
                                              <div class="row">
                                                <div class="col-md-12">
                                                  <h6 class="card-category">Tipo de subasta</h6>
                                                </div>
                                                <div class="col-md-12">
                                                  <i class="fa fa-circle text-info"></i> Subastas abiertas
                                                  <i class="fa fa-circle text-danger"></i> Subastas cerradas
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                        <h3 class="card-title mt-4">Subastas Frutas</h3>
                                        <div class="row">
                                          <div class="col-md-4">
                                            <div class="card card-chart">
                                              <div class="card-body">
                                                <%for(var subastas of TotalSubastasFPD) {%>
                                                  <h4 class="card-title ">Subastas de frutas creadas hoy: <%=subastas.totalSubastaDia%></h4>
                                                <% } %>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                            <div class="card card-chart">
                                              <div class="card-body">
                                                <%for(var subastas of TotalSubastasFPM) {%>
                                                  <h4 class="card-title ">Subastas de frutas creadas este mes: <%=subastas.totalSubastasMensuales%></h4>
                                                <% } %>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                            <div class="card card-chart">
                                              <div class="card-body">
                                                <%for(var subastas of TotalSubastasFPA) {%>
                                                  <h4 class="card-title ">Subastas de frutas creadas este año: <%=subastas.totalSubastaAño%></h4>
                                                <% } %>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <h3 class="card-title">Subastas Transportes</h3>
                                        <div class="row">
                                          <div class="col-md-4">
                                            <div class="card card-chart">
                                              <div class="card-body">
                                                <%for(var subastas of TotalSubastasTPD) {%>
                                                  <h4 class="card-title ">Subastas de transportes creadas hoy: <%=subastas.totalSubastaDia%></h4>
                                                <% } %>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                            <div class="card card-chart">
                                              <div class="card-body">
                                                <%for(var subastas of TotalSubastasTPM) {%>
                                                  <h4 class="card-title ">Subastas de transportes creadas este mes: <%=subastas.totalSubastasMensuales%></h4>
                                                <% } %>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                            <div class="card card-chart">
                                              <div class="card-body">
                                                <%for(var subastas of TotalSubastasTPA) {%>
                                                  <h4 class="card-title ">Subastas de transporte creadas este año: <%=subastas.totalSubastaAño%></h4>
                                                <% } %>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="graficosDeProductos">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-4">
                                        <div class="card card-chart">
                                          <div class="card-body">
                                            <%for(var productos of TotalProductosPD) {%>
                                              <h4 class="card-title">Productos creados hoy: <%=productos.totalProductoDia%></h4>
                                            <% } %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="card card-chart">
                                          <div class="card-body">
                                            <%for(var productos of TotalProductosPM) {%>
                                              <h4 class="card-title">Productos creados este mes: <%=productos.totalProductoMensuales%></h4>
                                            <% } %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <div class="card card-chart">
                                          <div class="card-body">
                                            <%for(var productos of TotalProductosPA) {%>
                                              <h4 class="card-title">Productos creados este año: <%=productos.totalProductoAño%></h4>
                                            <% } %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="card card-chart">
                                          <div class="card-header card-header-icon card-header-primary">
                                            <div class="card-icon">
                                              <i class="material-icons">pie_chart</i>
                                            </div>
                                            <h4 class="card-title">Productos según su estado</h4>
                                          </div>
                                          <div class="card-body">
                                            <div>
                                              <canvas id="Chart_producto"></canvas>
                                            </div>
                                          </div>
                                          <div class="card-footer">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <h6 class="card-category">Legenda</h6>
                                              </div>
                                              <div class="col-md-12">
                                                <i class="fa fa-circle text-info"></i> Productos activos
                                                <i class="fa fa-circle text-danger"></i>Productos inactivos
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="card card-chart">
                                          <div class="card-header card-header-icon card-header-success">
                                            <div class="card-icon">
                                              <i class="material-icons">pie_chart</i>
                                            </div>
                                            <h4 class="card-title">Productos según su calidad</h4>
                                          </div>
                                          <div class="card-body">
                                            <div>
                                              <canvas id="Chart_producto_calidad"></canvas>
                                            </div>
                                          </div>
                                          <div class="card-footer">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <h6 class="card-category">Legenda</h6>
                                              </div>
                                              <div class="col-md-12">
                                                <i class="fa fa-circle text-info"></i> Primera calidad
                                                <i class="fa fa-circle text-danger"></i>Segunda calidad
                                                <i class="fa fa-circle text-warning"></i>Tercera calidad
                                                <i class="fa fa-circle text-success"></i>Cuarta calidad
                                                <i class="fa fa-circle text-primary"></i>Quinta calidad
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<!-- Inicio gráficos Ventas -->
<script>
  const data_costos = {
    labels: ['Costo total fruta', 'Costo total transporte', 'Costo total impuesto'],
    datasets: [{
      label: '',
      backgroundColor: [
        'rgb(0, 188, 212)',
        'rgb(244, 67, 54)',
        'rgb(255, 152, 0)',
      ],
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_total_fruta%>', 
      '<%=valor_total_transporte%>',
      '<%=valor_total_impuesto%>'
      ],
    }]
  };
  
  const config_costos = {
    type: 'bar',
    data: data_costos,
    options: {}
  };

  const Chart_costos = new Chart(
    document.getElementById('Chart_costos'),
    config_costos
  );
</script>

<script>
  const data_comision = {
    labels: ['Comisión servicio', 'Comisión empresa'],
    datasets: [{
      label: '',
      backgroundColor: [
        'rgb(0, 188, 212)',
        'rgb(244, 67, 54)',
      ],
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_total_comision_servicio%>', 
      '<%=valor_total_comision_empresa%>'
      ],
    }]
  };
  
  const config_comision = {
    type: 'bar',
    data: data_comision,
    options: {}
  };

  const Chart_comision = new Chart(
    document.getElementById('Chart_comision'),
    config_comision
  );
</script>
<!-- Fin gráficos Ventas -->

<!-- Inicio gráficos Subastas -->
<script>
  const data_total_subastas = {
    labels: ['Subastas Frutas', 'Subastas Transportes'],
    datasets: [{
      label: '',
      backgroundColor: [
        'rgb(0, 188, 212)',
        'rgb(244, 67, 54)',
      ],
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_subastasf_total%>', 
      '<%=valor_subastast_total%>'
      ],
    }]
  };
  
  const config_total_subastas = {
    type: 'pie',
    data: data_total_subastas,
    options: {}
  };

  const Chart_total_subastas = new Chart(
    document.getElementById('Chart_total_subastas'),
    config_total_subastas
  );
</script>

<script>
  const data_total_subastas_estados = {
    labels: ['Subastas frutas abiertas', 'Subastas frutas cerradas', 'Subastas transportes abiertas', 'Subastas transportes cerradas'],
    datasets: [{
      label: '',
      backgroundColor: [
        'rgb(0, 188, 212)',
        'rgb(244, 67, 54)',
        'rgb(0, 188, 212)',
        'rgb(244, 67, 54)',
      ],
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_subastasf_abierta%>', 
      '<%=valor_subastasf_cerrada%>',
      '<%=valor_subastast_abierta%>',
      '<%=valor_subastast_cerrada%>'
      ],
    }]
  };
  
  const config_total_subastas_estados = {
    type: 'bar',
    data: data_total_subastas_estados,
    options: {}
  };

  const Chart_total_subastas_estados = new Chart(
    document.getElementById('Chart_total_subastas_estados'),
    config_total_subastas_estados
  );
</script>
<!-- Fin gráficos Subastas -->

<!-- Inicio gráficos Productos -->
<script>
  const data_producto = {
    labels: ['Productos activos', 'Productos inactivos'],
    datasets: [{
      label: '',
      backgroundColor: [
        'rgb(0, 188, 212)',
        'rgb(244, 67, 54)',
      ],
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_productos_activos%>', 
      '<%=valor_productos_inactivos%>'
      ],
    }]
  };
  
  const config_producto = {
    type: 'bar',
    data: data_producto,
    options: {}
  };

  const Chart_producto = new Chart(
    document.getElementById('Chart_producto'),
    config_producto
  );
</script>

<script>
  const data_producto_calidad = {
    labels: ['Primera calidad', 'Segunda calidad', 'Tercera calidad', 'Cuarta calidad', 'Quinta calidad'],
    datasets: [{
      label: '',
      backgroundColor: [
        'rgb(0, 188, 212)',
        'rgb(244, 67, 54)',
        'rgb(255, 152, 0)',
        'rgb(76, 175, 80)',
        'rgb(156, 39, 176)',
      ],
      borderColor: 'rgb(255, 99, 132)',
      data: [
      '<%=valor_calidad_primeraCalidad%>', 
      '<%=valor_calidad_segundaCalidad%>',
      '<%=valor_calidad_terceraCalidad%>',
      '<%=valor_calidad_cuartaCalidad%>',
      '<%=valor_calidad_quintaCalidad%>'
      ],
    }]
  };
  
  const config_producto_calidad = {
    type: 'pie',
    data: data_producto_calidad,
    options: {}
  };

  const Chart_producto_calidad = new Chart(
    document.getElementById('Chart_producto_calidad'),
    config_producto_calidad
  );
</script>
<!-- Fin gráficos Productos -->

</body>
</html>