<%- include('partials/nav.ejs') %>
<!-- your content here -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Subasta de Fruta <%= data[0].id_subastaF%></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title mb-4 mt-3">Ofertas de la subasta de fruta</h3>
              <div class="card-text">
                  
                  <ul class="timeline timeline-simple mr-5">
                    <% for(var ofertaProductor of OfertasProductores) { %>
                      <% var ofertaProductor_contador = 0; %>
                      <% if (ofertaProductor.fk_id_subastaF == data[0].id_subastaF && ofertaProductor.fk_id_estado != 4){ %>
                        <% ofertaProductor_contador++; %>
                        <li class="timeline-inverted">
                          <div class="timeline-badge success">
                            <i class="material-icons">card_travel</i>
                          </div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                              <span class="badge badge-success">OFERTA DE PRODUCTOR</span>
                            </div>
                            <div class="timeline-body">
                              <p>ID Oferta: <%= ofertaProductor.id_ofertaP %></p>
                              <p>Producto: <%= ofertaProductor.fruta_fk_nombre + " " + ofertaProductor.frutacalidad_fk_nombre + " " + ofertaProductor.producto_fk_cantidad %></p>
                              <p>Cantidad propuesta: <%= ofertaProductor.cantidad %></p>
                              <p>Precio por kilo: <%= ofertaProductor.precio_por_kilo %></p>
                              <hr>
                              <a href="../api_ofertas/aceptarOferta/<%= ofertaProductor.id_ofertaP %>"><button type="button" class="btn btn-success btn-sm pull-right">Aceptar oferta</button></a>
                              <a href="../api_ofertas/rechazarOferta/<%= ofertaProductor.id_ofertaP %>"><button type="button" class="btn btn-danger btn-sm pull-right mr-3">Rechazar oferta</button></a>
                            </div>
                            <h6>
                              <i class="ti-time"></i> <%= ofertaProductor.fecha_creacion %>
                            </h6>
                          </div>
                        </li>
                      <% } %>
                      <% if( ofertaProductor_contador == 0 ){ %>
                        <li class="timeline-inverted">
                          <div class="timeline-badge danger">
                            <i class="material-icons">card_travel</i>
                          </div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                              <span class="badge badge-danger">NINGUNA</span>
                            </div>
                            <div class="timeline-body">
                              <p>Actualmente no tienes ninguna oferta de frutas, se te notificará cuando esté disponible una nueva oferta.</p>
                            </div>
                          </div>
                        </li>
                        <% } %>
                    <% } %>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-body">
              <h4 class="card-title mt-4 mb-4">Subasta de Fruta <%= data[0].id_subastaF%></h4>
              <span class="mt-4"><strong>Fecha de creación:</strong></span> <span id="fecha_creacion"><%= data[0].fecha_creacion %></span></br>
              <span><strong>Fecha de última actualización:</strong></span> <span id="fecha_actualizacion"><%= data[0].fecha_actualizacion %></span></br>
              <span class="mb-4"><strong>Fecha de termino:</strong></span> <span id="fecha_termino"><%= data[0].fecha_termino %></span></br></br>
              <span class="mb-4"><strong>Estado de la subasta:</strong></span> <span class="badge badge-success"><%= data[0].fk_texto_estado %></span></span></br></br>
              <h4 class="card-title mt-4 mb-4">Información del pedido</h4>
              <span class="mt-4"><strong>Tipo de pedido:</strong></span> <span class="badge badge-info"><%= data[0].pedido_fk_texto_tipo %></span></br>
              <span class="mt-4"><strong>Solicitado por:</strong></span> <a href="/perfil/<%= data[0].pedido_fk_id_usuario %>"><span><%= data[0].pedido_fk_texto_usuario %></span></a></br>
            </div>
          </div>
          <div class="card card-profile">
            <div class="card-body">
              <h4 class="card-title mt-4 mb-4">Frutas necesarias</h4>
              <table class="table table-hover mb-4">
                <thead class="text-warning">
                    <th>Fruta</th>
                    <th>Calidad</th>
                    <th>Cantidad (en KG)</th>
                    <th>Estado</th>
                </thead>
                <tbody>
                  <% for(var pedido_detalle of PedidoDetalles){ %>
                    <% if( pedido_detalle.id_pedidoD == data[0].fk_id_pedido ){ %>
                      <tr>
                          <td>
                            <%= pedido_detalle.fruta_fk_nombre %>
                          </td>
                          <td>
                            <%= pedido_detalle.frutacalidad_fk_nombre %>
                          </td>
                          <td>
                            <%= pedido_detalle.cantidad %>
                          </td>
                      </tr>
                    <% } %>
                  <% } %>
                </tbody>
              </table>
              <h4 class="card-title mt-4 mb-4">Opciones de la subasta</h4>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalCrearOferta">Crear una nueva oferta</button>
              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Extender plazo
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">2 semanas</a>
                  <a class="dropdown-item" href="#">1 mes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modalCrearOferta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="../api_ofertas/crearOfertaProductor/<%= data[0].id_subastaF%>" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Crear oferta de Productor
                    </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group my-label required">
                        <label>Producto</label>
                        <div class="cus-select-group">
                          <select id="select-item" name="fk_id_producto" required>
                              <option selected="true" disabled="disabled">Selecciona una opción</option>
                              <% for(var producto of Productos){ %>
                                <% if (producto.fk_id_usuario == session.id_usuario){ %>
                                  <option name="fk_id_producto" value="<%=producto.id_producto%>"><%=producto.fk_nombre_fruta%> <%=producto.calidad%> <%=producto.cantidad%></option>
                                <% } %>
                              <% } %>
                          </select>
                        </div>
                    </div>
                    <div class="form-group my-label required mt-4">
                        <label>Cantidad propuesta</label>
                        <input class="form-control mb-4" id="inputCantidad" type="number" name="cantidad" required>
                        <div class="invalid-feedback">Ingresa cantidad</div>
                    </div>
                    <div class="form-group my-label required">
                      <label>Precio por kilo</label>
                      <input class="form-control mb-4" id="inputPrecio_por_kilo" type="number" name="precio_por_kilo" required>
                      <div class="invalid-feedback">Ingresa precio por kilo</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">Crear oferta de productor</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>

<script>
  window.addEventListener("load", pageFullyLoaded, false);
  
  function pageFullyLoaded(e) {
    var dateFormat = 'YYYY-DD-MM HH:mm:ss';
    var fechacreacion_utctime = moment.utc('<%= data[0].fecha_creacion %>');
    var fechacreacion_localdate = fechacreacion_utctime.local();
    var fechacreacion_localdate2 = fechacreacion_localdate.locale('es')
    
    var modificardivfechacreacion = document.getElementById('fecha_creacion');
    modificardivfechacreacion.innerHTML =  moment(fechacreacion_localdate2, "YYYY-MM-DD hh:mm:ss").fromNow();

    var dateFormat = 'YYYY-DD-MM HH:mm:ss';
    var fechaactualizacion_utctime = moment.utc('<%= data[0].fecha_actualizacion %>');
    var fechaactualizacion_localdate = fechaactualizacion_utctime.local();
    var fechaactualizacion_localdate2 = fechaactualizacion_localdate.locale('es')
    
    var modificardivfechaactualizacion = document.getElementById('fecha_actualizacion');
    modificardivfechaactualizacion.innerHTML =  moment(fechaactualizacion_localdate2, "YYYY-MM-DD hh:mm:ss").fromNow();

    var dateFormat = 'YYYY-DD-MM HH:mm:ss';
    var fechatermino_utctime = moment.utc('<%= data[0].fecha_termino %>');
    var fechatermino_localdate = fechatermino_utctime.local();
    var fechatermino_localdate2 = fechatermino_localdate.locale('es')
    
    var modificardivfechatermino = document.getElementById('fecha_termino');
    modificardivfechatermino.innerHTML =  moment(fechatermino_localdate2, "YYYY-MM-DD hh:mm:ss").fromNow();
  }
</script>

</body>
</html>