<%- include('partials/nav.ejs') %>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Subasta de Transporte <%= data[0].id_subastaF%></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title mb-4 mt-3">Ofertas de la subasta de transporte</h3>
              <div class="card-text">

                  <ul class="timeline timeline-simple mr-5">
                    <% var ofertaTransporte_contador = 0; %>
                    <% for(var ofertaTransporte of OfertasTransportes) { %>
                      <% if (ofertaTransporte.fk_id_subastaT == data[0].id_subastaT && ofertaTransporte.fk_id_estado <= 2){ %>
                        <% ofertaTransporte_contador++; %>
                        <li class="timeline-inverted">
                          <div class="timeline-badge success">
                            <i class="material-icons">card_travel</i>
                          </div>
                          <div class="timeline-panel">
                            <div class="timeline-heading">
                              <span class="badge badge-success">OFERTA DE TRANSPORTISTA</span>
                            </div>
                            <div class="timeline-body">
                              <p>ID Oferta: <%= ofertaTransporte.id_ofertaT %></p>
                              <p>¿Tiene refrigeración?: <% if(ofertaTransporte.necesita_refrigeracion == 1){ %> Si <% } else { %> No <% } %></p>
                              <p>Cantidad: <%= ofertaTransporte.cantidad %></p>
                              <p>Peso total: <%= ofertaTransporte.peso_total %></p>
                              <p>Precio final: <%= ofertaTransporte.precio_final %></p>
                              <hr>
                              <% if(ofertaTransporte.fk_id_estado == 1 && data[0].fk_id_estado == 1){ %>
                                <a href="../api_ofertas/rechazarOfertaTransporte/<%= ofertaTransporte.id_ofertaT %>"><button type="button" class="btn btn-danger btn-sm pull-right">Rechazar oferta</button></a>
                                <a href="../api_ofertas/aceptarOfertaTransporte/<%= ofertaTransporte.id_ofertaT %>"><button type="button" class="btn btn-success btn-sm pull-right mr-3">Aceptar oferta</button></a>
                              <% } else if(ofertaTransporte.fk_id_estado == 2) { %>
                                <span class="btn btn-success btn-sm pull-right mr-3">Oferta aceptada</span>
                              <% } else if(ofertaTransporte.fk_id_estado == 3) { %>
                                <span class="btn btn-danger btn-sm pull-right mr-3">Oferta rechazada</span>
                              <% } %>
                            </div>
                            <h6>
                              <i class="ti-time"></i> <%= ofertaTransporte.fecha_creacion %>
                            </h6>
                          </div>
                        </li>
                      <% } %>
                    <% } %>
                    <% if( ofertaTransporte_contador == 0 ){ %>
                      <li class="timeline-inverted">
                        <div class="timeline-badge danger">
                          <i class="material-icons">card_travel</i>
                        </div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <span class="badge badge-danger">NINGUNA</span>
                          </div>
                          <div class="timeline-body">
                            <p>Actualmente no tienes ninguna oferta de transportes, se te notificará cuando esté disponible una nueva oferta.</p>
                          </div>
                        </div>
                      </li>
                    <% } %>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-body">
              <h4 class="card-title mt-4 mb-4">Subasta de Transporte <%= data[0].id_subastaT%></h4>
              <span class="mt-4"><strong>Fecha de creación:</strong></span> <span id="fecha_creacion"><%= data[0].fecha_creacion %></span></br>
              <span><strong>Fecha de última actualización:</strong></span> <span id="fecha_actualizacion"><%= data[0].fecha_actualizacion %></span></br>
              <span class="mb-4"><strong>Fecha de término:</strong></span> <span id="fecha_termino"><%= data[0].fecha_termino %></span></br></br>
              <span class="mb-4"><strong>Estado de la subasta:</strong></span> <% if (data[0].fk_id_estado == 1) { %><span class="badge badge-success"><%= data[0].fk_texto_estado.toUpperCase() %></span><% } else { %><span class="badge badge-danger"><%= data[0].fk_texto_estado.toUpperCase() %></span><% } %>
            </div>
          </div>
          <div class="card card-profile">
            <div class="card-body">
              <h4 class="card-title mt-4 mb-4">Información del despacho</h4>
              <span class="mb-4"><strong>Dirección de despacho:</strong></span> <%= data[0].direccion_despacho %> </br>
              <span class="mb-4"><strong>Cantidad:</strong></span> <%= data[0].cantidad %>
              <% if (data[0].fk_id_estado == 1) { %>
              
                <h4 class="card-title mt-4 mb-4">Opciones de la subasta</h4>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalCrearOferta">Crear una nueva oferta</button>
                <a href="../api_subastas/anularSubastaTransporte/<%= data[0].id_subastaT %>"><button type="button" class="btn btn-warning">Anular Subasta</button></a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modalCrearOferta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="../api_ofertas/crearOfertaTransporte/<%= data[0].id_subastaT%>" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Crear oferta de Transporte
                    </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group my-label required">
                        <label>¿Tiene refrigeración?</label>
                        <div class="cus-select-group">
                            <select id="select-item" name="tiene_refrigeracion" required>
                                <option selected="true" value="" disabled="disabled">Selecciona una opción</option>
                                <option name="si" value="1">Si</option>
                                <option name="no" value="2">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group my-label required mt-4">
                        <label>Cantidad</label>
                        <input class="form-control mb-4" id="inputCantidad" type="text" name="cantidad" maxlength="6" required>
                        <div class="invalid-feedback">Ingresa cantidad</div>
                    </div>
                    <div class="form-group my-label required">
                      <label>Peso total</label>
                      <input class="form-control mb-4" id="inputPeso_Total" type="text" name="peso_total" maxlength="5" required>
                      <div class="invalid-feedback">Ingresa peso total</div>
                    </div>
                    <div class="form-group my-label required">
                        <label>Precio final</label>
                        <input class="form-control mb-4" id="inputPrecio_Final" type="text" name="precio_final" maxlength="9" required>
                        <div class="invalid-feedback">Ingresa precio final</div>
                      </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" type="submit">Crear oferta de transporte</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>

<script>
  window.addEventListener("load", pageFullyLoaded, false);
  
  function pageFullyLoaded(e) {
    var dateFormat = 'YYYY-DD-MM HH:mm:ss';
    var fechacreacion_utctime = moment.utc('<%= data[0].fecha_creacion %>');
    var fechacreacion_localdate = fechacreacion_utctime.local();
    var fechacreacion_localdate2 = fechacreacion_localdate.locale('es')
    
    var modificardivfechacreacion = document.getElementById('fecha_creacion');
    modificardivfechacreacion.innerHTML =  moment(fechacreacion_localdate2, "YYYY-MM-DD hh:mm:ss").fromNow();
    var dateFormat = 'YYYY-DD-MM HH:mm:ss';
    var fechaactualizacion_utctime = moment.utc('<%= data[0].fecha_actualizacion %>');
    var fechaactualizacion_localdate = fechaactualizacion_utctime.local();
    var fechaactualizacion_localdate2 = fechaactualizacion_localdate.locale('es')
    
    var modificardivfechaactualizacion = document.getElementById('fecha_actualizacion');
    modificardivfechaactualizacion.innerHTML =  moment(fechaactualizacion_localdate2, "YYYY-MM-DD hh:mm:ss").fromNow();
    var dateFormat = 'YYYY-DD-MM HH:mm:ss';
    var fechatermino_utctime = moment.utc('<%= data[0].fecha_termino %>');
    var fechatermino_localdate = fechatermino_utctime.local();
    var fechatermino_localdate2 = fechatermino_localdate.locale('es')
    
    var modificardivfechatermino = document.getElementById('fecha_termino');
    modificardivfechatermino.innerHTML =  moment(fechatermino_localdate2, "YYYY-MM-DD hh:mm:ss").fromNow();
  }
</script>

</body>
</html> 