<%- include('partials/nav.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Usuarios:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#listadoUsuarios" data-toggle="tab">
                                                <i class="material-icons">format_list_bulleted</i> Listado de usuarios
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#crearUsuario" data-toggle="tab">
                                                <i class="material-icons">add</i> Crear nuevo usuario
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="listadoUsuarios">
                                    <div class="card-body table-responsive">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead class="text-info">
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Apellido</th>
                                                <th scope="col">Correo electrónico</th>
                                                <th scope="col">Tipo de usuario</th>
                                                <th class="disabled-sorting">Opciones</th>
                                            </thead>
                                            <tbody>
                                                <% for(var usuario of Usuarios) { %>
                                                    <tr>
                                                        <th scope="row">
                                                            <%= usuario.id_usuario %>
                                                        </th>
                                                        <td>
                                                            <%= usuario.nombre %>
                                                        </td>
                                                        <td>
                                                            <%= usuario.apellido %>
                                                        </td>
                                                        <td>
                                                            <%= usuario.correo %>
                                                        </td>
                                                        <td>
                                                            <%= usuario.fk_id_tipo %>
                                                        </td>
                                                        <td>
                                                            <a class="card-link" href="/perfil/<%= usuario.id_usuario %>">Ver perfil</a>
                                                            <a class="card-link" href="/modificarUsuario/<%= usuario.id_usuario %>">Modificar</a>
                                                            <a class="card-link" href="../api_usuarios/desactivarUsuario/<%= usuario.id_usuario %>">Desactivar</a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="crearUsuario">
                                    <div class="card-body">
                                        <h3 class="card-title mb-4">Ingresa los datos del nuevo usuario</h3>
                                        <div class="card-text">
                                            <form action="../api_usuarios/crearUsuario" method="POST" class="formValidation" novalidate>
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>Nombre *</label>
                                                            <input class="form-control mb-4" id="nombre" type="text" name="nombre" maxLength="25" required>
                                                            <div class="invalid-feedback">Ingresa Nombre</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>Apellido *</label>
                                                            <input class="form-control mb-4" id="apellido" type="text" name="apellido" maxLength="25" required>
                                                            <div class="invalid-feedback">Ingresa Apellido</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Correo electrónico *</label>
                                                    <input class="form-control mb-4" id="inputEmail" type="email" name="correo" maxLength="30" required>
                                                    <div class="invalid-feedback">Ingresa Correo electrónico</div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Contraseña *</label>
                                                    <input class="form-control mb-4" id="inputPassword" type="password" name="password" maxLength="40" required>
                                                    <div class="invalid-feedback">Ingresa Contraseña</div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Número de documento *</label>
                                                    <input class="form-control mb-4" id="inputNumDocumento" type="text" name="num_documento" maxLength="20" required>
                                                    <div class="invalid-feedback">Ingresa Número de documento</div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Fecha de nacimiento *</label>
                                                    <input class="form-control mb-4" id="inputFechaNacimiento" type="date" name="fecha_nacimiento" required>
                                                    <div class="invalid-feedback">Ingresa Fecha de nacimiento</div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Teléfono *</label>
                                                    <input class="form-control mb-4" id="inputTelefono" type="number" name="telefono" maxLength="15" required>
                                                    <div class="invalid-feedback">Ingresa Teléfono</div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>Género *</label>
                                                            <select class="selectpicker form-control" data-size="2" name="genero" data-style="select-with-transition btn" title="Selecciona una opción">
                                                                <option name="femenino" value="1">Femenino</option>
                                                                <option name="masculino" value="2">Masculino</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>Tipo de usuario *</label>
                                                            <select class="selectpicker form-control" data-size="6" name="fk_id_tipo" data-style="select-with-transition btn" title="Selecciona una opción">
                                                                <option name="transportista" value="2">Transportista</option>
                                                                <option name="administrador" value="1">Administrador</option>
                                                                <option name="clienteExterno" value="3">Cliente Externo</option>
                                                                <option name="clienteInterno" value="4">Cliente Interno</option>
                                                                <option name="productor" value="5">Productor</option>
                                                                <option name="consultor" value="6">Consultor</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary mb-2 pull-right" type="submit"><i class="fas fa-sign-in-alt"></i> Crear nuevo usuario</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
<%- include('partials/footer.ejs') %>

<script>
    $(document).ready(function() {
      $('#datatables').DataTable({
        "pagingType": "full_numbers",
        "pageLength": 15,
        "bLengthChange": false,
        responsive: true,
        language: {
          search: "_INPUT_",
          info: "Viendo página _PAGE_ de _PAGES_",
          zeroRecords: "No hay información que mostrar",
          infoEmpty: "Sin información",
          searchPlaceholder: "Buscar usuario"
        }
      });

      var table = $('#datatable').DataTable();

    });
</script>

<script> (function () {
    'use strict';
    window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('formValidation');
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
  })();
  </script>

</body>
</html>